@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates&family=Poppins&family=Roboto+Slab:wght@500&family=Space+Grotesk&display=swap');

:root {
    --color1: hsla(348, 97%, 63%, 0);
    --financeColor: rgb(56, 45, 6);
    --economyColor: rgb(6, 56, 10);
    --businessColor: rgb(6, 29, 56);
    --technologyColor: rgb(9, 61, 70);
    --blackColor: rgb(0, 0, 0);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #121212;
    color: #fff;
}

.container {
    margin-top: 20vh;
    margin-bottom: 20vh;
}

hr {
    border: none;
    height: 1px;
    background-color: #333;
}

/* .generate {
    margin: 3%;
    position: relative;
    height: 1920px;
    width: 1080px;
    background: linear-gradient(-90deg, var(--color1), var(--blackColor)),
                url('../img/[edit]\(finance\)-stock.jpg') no-repeat center center / cover;
} */

.generate {
    margin: 3%;
    position: relative;
    height: 1920px;
    width: 1080px;
    background-color: #191919;
    color: #dedede;
}

.txt {
    position: absolute;
    top: 200px;
    left: 40px;
    max-width: 1000px;
}

.headline {
    font-family: 'Poppins', Times, serif;
    font-weight: 600;
    font-size: 70px;
}

.subHeadline {
    font-size: 36px;
}


.imgContainer {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.img {
    display: inline-block;
    min-width: 1080px;
    max-width: 1080px;
    max-height: 768px;
}



